<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Create a new user</h1>
        <form action="/store_users/new">
          <input type="text" name="name" placeholder="Your name" class="form-control">
          <br>
          <input type="text" name="email" placeholder="Your email" class="form-control">
          <br>
          <input type="submit">
        </form>
      </div>
    </div>
  </div>